<div class = "mainContainer" >
  <div style="text-align: center">只有肉的厨房</div>
  <hr>
  <div>选择原料</div>
  <div class="row" style="margin-top: 5px">
    <div class="col">
      <button class="btn-outline-dark" (click)="addItem('chicken')" style="margin-right: 5px">鸡肉</button>
      <span>{{ meatNum[0] }}</span>
    </div>
    <div class="col">
      <button class="btn-outline-dark" (click)="addItem('beef')" style="margin-right: 5px">牛肉</button>
      <span>{{ meatNum[1] }}</span>
    </div>
    <div class="col">
      <button class="btn-outline-dark" (click)="addItem('pork')" style="margin-right: 5px">猪肉</button>
      <span>{{ meatNum[2] }}</span>
    </div>
  </div>
  <div class="row" style="margin-top: 5px">
    <div class="col">
      <button class="btn-outline-dark" (click)="addItem('duck')" style="margin-right: 5px">鸭子</button>
      <span>{{ meatNum[3] }}</span>
    </div>
    <div class="col">
      <button class="btn-outline-dark" (click)="addItem('lamb')" style="margin-right: 5px">羊肉</button>
      <span>{{ meatNum[4] }}</span>
    </div>
    <div class="col">
      <button class="btn-outline-dark" (click)="addItem('shrimp')" style="margin-right: 5px">大虾</button>
      <span>{{ meatNum[5] }}</span>
    </div>
  </div>
  <hr>
  <div>
    <p>请加配料</p>
    <input type="text" [(ngModel)]="vegetables">
    <button class="btn-outline-dark" (click)="addVegetables()">ADD</button>
    <div *ngIf="vegAdded">成功加入: {{ vegetables }}</div>
  </div>

  <hr>
  <div>
    <button class="btn-outline-dark" (click)="resetItem()">Reset</button>
  </div>
  <div style="margin-top: 5px">
    <button class="btn-outline-dark" (click)="makeCook()">Cook the meal</button>
  </div>
  <div *ngIf="cooked">你做出了：{{ mealName }}</div>
</div>









